/* Popup box BEGIN */
.hover_bkgr_fricc{
    cursor:pointer;
    display:none;
    height: 20px;
    background: #fff;
    position:absolute;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
/* Popup box BEGIN */